:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1em;
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 700px;
  margin: auto;
}

.category-grid a {
  text-decoration: none;
  color: var(--dark-grey);
  border: 1px solid var(--light-grey);
  padding: 0.5em;
  text-align: center;
  background-color: white;
}

.category-grid a:hover {
  background-color: var(--light-grey);
}

.category-grid img {
  width: 50px;
  margin: 0 auto;
  display: block;
  margin-bottom: 0.5em;
}

button,
.product-list-footer > a {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.product-list-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
  display: inline-block;
}

.cart sup {
  font-size: 14px;
  position: absolute;
  top: 5px;
  right: -10px;
  background-color: var(--primary-color);
  color: var(--dark-grey);
  border-radius: 50%;
  padding: 2px 6px;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
}

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.remove-btn {
  position: absolute;
  background-color: var(--primary-color);
  color: var(--dark-grey);
  border: none;
  cursor: pointer;
  margin-top: 0.5em;
  padding: 4px 8px;
  border-radius: 4px;
}

.card__name {
  font-size: 1em;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: 4em auto;
  background-color: var(--light-grey);
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

/* Product price discount */
.line-through {
  text-decoration: line-through;
  margin-left: 1em;
  margin-top: 1.5em;
  font-size: 0.8em;
  color: #a5a5a5;
}

.product-price-discount {
  font-size: 1.4em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

#discountFlag {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 55%);
  transform: translate(-50%, 55%);
  width: 100px;
  padding: 15px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 1.4em;
  border: 4px solid #ffffff;
}

/* Checkout Form Styles */

.checkout-form form {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.checkout-form {
  padding: 1em;
  border-radius: 8px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.checkout-form label {
  display: block;
  font-size: var(--small-font);
  margin-bottom: 0.5em;
  color: var(--dark-grey);
}
.checkout-form input {
  width: 100%;
  padding: 0.75em;
  margin-bottom: 1em;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  font-size: var(--font-small);
  font-family: var(--font-body);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.checkout-form button {
  width: 100%;
  padding: 0.75em;
  margin-top: 0.5em;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: var(--large-font);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.checkout-form button:hover {
  background-color: var(--secondary-color);
}

/* Checkout Summary Styles */
.checkout-summary {
  display: none;
  margin: 2em auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1em;
}
.checkout-summary > ul {
  padding-left: 0;
  list-style-type: none;
}
.checkout-summary li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
  border-bottom: 1px solid var(--light-grey);
}
.checkout-summary li:last-child {
  border-bottom: none;
}
.checkout-summary input {
  width: 50px;
  padding: 0.5em;
  font-size: 1em;
  text-align: center;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  font-family: var(--font-body);
}

.newsletter {
  background-color: var(--light-grey);
  padding: 2em;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 2em auto;
}

.newsletter h2 {
  font-size: 2em;
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 0.5em;
}

.newsletter p {
  font-size: 1.2em;
  color: var(--dark-grey);
  margin-bottom: 1.5em;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.newsletter input[type="text"],
.newsletter input[type="email"] {
  padding: 0.75em;
  font-size: 1em;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.newsletter button {
  background-color: var(--secondary-color);
  color: white;
  padding: 0.75em;
  font-size: 1.2em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newsletter button:hover {
  background-color: var(--primary-color);
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}

.hide {
  display: none;
}
